.errorPage{
    color: #ff6060;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
    font-family: "montserrat", "sans serif";
}
.errorPage img{
    width: 45%;
}
.errorPage a{
    color:#ff6060;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 5rem;
    display: inline-block;
}
.errorPage a:hover{
    text-decoration: underline;
}