.banner{
    margin-top: 2rem;
}
.banner img {
    position: absolute;
    width: 94%;
    height: 177px;
    object-fit: cover;
    filter: brightness(0.75);
    border-radius: 2rem;
}
.banner p{
    position: relative;
    top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 48px;
    font-weight: 300;
}
@media screen and (width <= 767px){
.banner img{
    font-size: 24px;
    font-weight: 400;
    width: 90%;
    height: 130px;
    border-radius: 15px;
}
.banner p{
    font-size: 24px;
    width: 54%;
    font-weight: 400;
    padding-left: 1rem;
    top: 2rem;
}
}